/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@100;400;700&display=swap');

html{
  margin: 0 100px 0 100px;
  background-color: rgb(37, 37, 37);
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(121, 121, 121);
  border-radius: 8px;
  position: relative;
  border: 1px solid #f1f1f1;
  color: rgb(198, 197, 199);


}

